*{
    margin: 0px;
    padding: 0px;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    list-style: none;
    
}

.navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;

}
/* <!--header code end here --> */




