#ani{
    width: 300px;
    height: 250px;
    background-color: aqua;
    rotate: 0px;
}

#ani:hover{
    rotate: 360deg;
    transition: rotate 5s;

}

#ani1{
    width: 200px;
    height: 300px;
    background-color: aqua;
    
}

#ani1:hover{
    width: 500px;
    height: 500px;
    transition: all 2s;
    
}


#ani:hover{
    rotate: 360deg;
    transition: rotate 10s;

}

#ani2{
    width: 200px;
    height: 300px;
    background-color: aqua;
    
}

#ani2:hover{
    width: 500px;
    height: 500px;
    transition: all 2s;
    
}